$primary-color: #0077B6;
$secundary-color: #48CAE4;
$text-color: #273248;
$background-color: #F2F9FC;
$logo-color: #81C9E8;

$alert-color: #FA221D;
$caution-color: #F28C20;
$suspect-color: #F9CB43;
$success-color:  #53D86A;
$tranquility-color: #3CABDB;