.signup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    width: 50vh;
    margin: 0 auto;
    overflow: hidden;

    &--title {
        @include font-style('Nunito', normal, bold, 32px, 26px, $primary-color);
        margin-bottom: 16px;
    }

    &--span {
        @include font-style('Inter', normal, normal, 18px, 28px, $text-color);
        border-bottom: 1px solid $logo-color;
        padding-bottom: 16px;
        margin-bottom: 32px;
    }

    &--field{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;

        @include font-style('Nunito', normal, normal, 18px, 22px, $primary-color);

        &--label{
            margin: 0 0 5px 16px;
        }

        &--input{
            padding: 12px 16px;
            width: 464px;
            height: 64px;
            background: #FFFFFF;
            border: 1px solid $secundary-color;
            box-sizing: border-box;
            border-radius: 20px;

            &:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
    }

    &--button{
        width: 464px;
        height: 64px;
        background: $primary-color;
        border-radius: 16px;
        @include font-style('Nunito', normal, bold, 24px, 22px, #FFFFFF);
        margin-bottom: 16px;

        &:hover{
            background: #FFFFFF;
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }

    &--button-back{
        width: 200px;
        height: 50px;
        margin-left: 136px;
        background: $primary-color;
        border-radius: 16px;
        @include font-style('Nunito', normal, bold, 20px, 22px, #FFFFFF);

        &:hover{
            background: #FFFFFF;
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
}

.imageFiles-input {
	opacity: 0;
	overflow: hidden;
	position: absolute;
    width: 464px;
    height: 165px;
    bottom: 260px;
    cursor: pointer;
}

.imageFiles-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include font-style('Nunito', normal, normal, 14px, 22px, $primary-color);

    width: 464px;
    height: 165px;
    background: #FFFFFF;
    border: 1px solid #48CAE4;
    // box-sizing: border-box;
    border-radius: 20px;

    &--button {
        display: flex;
        justify-content: space-around;

        padding: 5px 15px;
        width: 198px;
        height: 34px;
        background: #0077B6;
        border-radius: 20px;
        @include font-style('Nunito', normal, 600, 14px, 22px, #F2F9FC);
    }
}

.file-icon {
    width: 24px;
    height: 24px;
}

.upload-file{
    width: 143px;
    height: 143px;
}

.stepper {
    height: 9px;
    width: 220px;
    background: #81C9E8;
    border-radius: 20px;  
    
    position: absolute;
    bottom: 5%;
    right: 19%;
}

.stepper-progress {
    height: 9px;
    background: $primary-color;
    border-radius: 20px;  
    
    position: absolute;
    bottom: 5%;
    left: 69%;

    @include xl {
        left: 65%;
    }

    @include lg {
        left: 59%;
    }

    transition: 1s;

    &--0 {
        width: 53px;
    }
    &--1 {
        width: 106px;
    }
    &--2 {
        width: 162px;
    }
    &--3 {
        width: 206px;
    }
}